.label{
    
    
    
    border-radius: 2px 2px;

}

ul{
    
    list-style-type: none;
    padding: 4px;
}

ul li{
    
    padding-bottom: 8px;
    padding-top: 4px;
    border-bottom: solid 1px #ccc;
}

.panel{
    
    
    color: #fff;
    text-shadow: 4px 4px 4px 0 #000;
    border: solid 1px #ccc;
    border-radius: 2px 2px;
    margin: 4px;
    
  
}

.panel-heading{
    
    background-color: #0099FF;

    
}

h1{
    color: #fff;
    text-align: center;
}
.panel-heading h2{
    
    text-align: center;
    margin-top: 0;
    color: #fff;
    font-family: "Courier New", Courier, sans-serif;
    
}

.panel p{
    
    padding-left: 8px;

}

.small{
    
    width: 18%;
    display: inline-block;
}

.wrapper{
    
    margin: 0 auto;
    width: 960px;
    background-color: #F7F7F7 transparent;

}

body{
    


     background-image: url("../images/kendo-bg-two.jpg");
     background-repeat: no-repeat;
     background-position: center center;
}