body{
    
  background-color: #E6E6E6;
  margin: 0;
 
  
  
}

.navigation-area{
    
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 80px;
  
    
}

.navigation-area h1{
    
    display: inline;
    
    
}

.nav-links{
    box-shadow: 2px 2px 2px 2px #000;
     
}

.navigation-area ul {
    
  list-style: none;
}


.navigation-area ul li{
    
    padding: 8px;
    border-radius: 8px;
    display: inline;
    color: #fff;
    background-color: cyan;
    border: 1px solid #ccc;
  
}

.active-link{
    
    color: #000 !important;
    border: 1px solid #ccc;
    background-color: #fff !important;
}

.wrapper{
  
     margin: 0 auto;
     width: 960px;
     border-radius: 2px 2px 2px;
    
    padding: 16px;

}




h2{
    
    margin-top: 0;
    margin-bottom: 6px;
}



.effects{
    
    border-radius: 4px 4px;
    box-shadow: 2px 2px 2px 2px #000;
    padding: 8px;
}


.transparent-background{
    
   background-color: #000;
   color: yellow;
   border-radius: inherit;
   opacity: 0.6;
}