.feed{
    
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 2px 2px 2px;
    padding: 16px;
    width: 500px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 8px;
    
  
}

.feed textarea{
    
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.feed-wrapper{
  
     width: 500px;
}


.photo-area img{
    
    width: 500px;
    height: 500px;

}



.left-comment-column{
    
    
    display: inline-block;
    padding: 8px 0  0 8px;
    width: 72%;
    

}


.user-info-area{
    
    border: 1px solid #ccc;
    margin-bottom: 8px;
    height: 100%;
    background-color: #333333;
    color: #fff;


    
}


.poster-info-area{
    
    border: 1px solid #ccc;
    margin-bottom: 8px;
    height: 52px;
    background-color: #333333;
    color: #fff;


    
}

.right-comment-column{
    
   font-size: 12px;
   border-left: 1px solid #ccc;
   padding: 8px;
   width: 20%;
   display: inline-block;


}


.comments-info-area{
    
    border: 1px solid #ccc;
    padding: 8px;

    
}

.comment{
    
    margin-top: 8px;
    padding: 8px;
    background-color: #fff;
    color: #000;
}

.comments-info-area h2{
    
    padding: 0 2px;
    text-align: center;

}


.add-comment-area{
    
    margin-top: 16px;

}

#add-comment{
    
    width: 85%;
}

#submit-button{
    width: 15%;
}
