
.users-info{
    
     margin: 0 auto;
     width: 600px;
     height: 200px;
    
    background-color: #fff;
    border: 1px solid #ccc;
    padding:16px;
    border-radius: 4px;
    text-align: center;

    
}
