body{
    
  background-color: #E6E6E6;
 
}

.navigation{
    
      background-color: #fff;
      border: 1px solid #ccc;
      margin-bottom: 16px;

    
}

.navigation ul {
    
  list-style: none;
}


.navigation ul li{
    
    padding: 8px;
    border-radius: 8px;
    display: inline;
    color: #fff;
    background-color: #000;
    opacity: 0.8;
}

.active-link{
    
    color: #000 !important;
    border: 1px solid #ccc;
    background-color: cyan !important;
    
}

#wrapper{
  
     margin: 0 auto;
     width: 960px;
     border-radius: 2px 2px 2px;
    
    padding: 16px;

}




h1{
    
    text-align: center;
    background-color: #FFF;
    padding: 16px;
  
  
}

.users-info{
    
     margin: 0 auto;
     width: 300px;
     height: 200px;
    
    background-color: #fff;
    border: 1px solid #ccc;
    padding:16px;
    border-radius: 4px;
    text-align: center;

    
}
